@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");

/* common */
:root {
	/* color */
	--red: #ff385c;
	--black: #000;
	--white: #fff;
	/* ui-color */
	--brand-color: var(--red);
	--main-color: #222;
	--sub-color: #6a6a6a;
	--background-color: #f7f7f7;
	--border-color: #dddddd;
	/* font */
	--font-family: "Noto Sans KR", sans-serif;
	--fs-title: 22px;
	--fs-semi-title: 18px;
	--fs-normal-em: 15px;
	--fs-normal: 14px;
	--fs-caption: 12px;
	--fs-caption-sm: 10px;
	--fw-400: 400;
	--fw-500: 500;
	--fw-normal: var(--fw-400);
	--fw-medium: var(--fw-500);
	/* line-height */
	--lh-normal: 1.1875rem;
}

body {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-style: normal;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	color: var(--main-color);
}
a {
	font-weight: var(--fw-medium);
	color: var(--main-color);
	text-decoration: none;
}
button {
	font-family: var(--font-family);
	border: 0 none;
	background: none;
	cursor: pointer;
}
input {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-style: normal;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	color: var(--main-color);
}

/* ----------------------- common ----------------------- */
.tab_menu {
	border-bottom: 1px solid var(--border-color);
	overflow: hidden;
}
.tab_items_list {
	display: flex;
	/* margin-left: -10px; */
}
.tab_item {
	position: relative;
	margin: 0 16px 0 10px;
	padding: 16px 0px;
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.tab_item:first-child {
	margin-left: 0;
}
.tab_item.selected {
	color: var(--main-color);
}
.tab_item.selected::after {
	content: "";
	position: absolute;
	left: 0px;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: var(--main-color);
}
.swiper_btn_navi {
	width: 32px;
	height: 32px;
	border-radius: 32px;
	border: 1px solid rgb(0, 0, 0, 0.3);
	background: rgba(255, 255, 255, 0.9);
	font-size: 0;
}
.swiper_btn_navi:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
	background: var(--white);
}
.swiper_btn_navi::after {
	content: "";
	width: 12px;
	height: 12px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
}
.swiper-button-prev::after {
	background-position: -16px -32px;
}
.swiper-button-next::after {
	background-position: -28px -32px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: 0;
}

/* ----------------------- header ----------------------- */
/* header - header_top */
.header {
	position: relative;
	width: 100%;
	height: calc(80px + 88px);
	background: var(--white);
	box-shadow: 0 1px 0 rgb(0 0 0/8%);
}
.header_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 48px;
}
.logo_link {
	color: var(--brand-color);
}
.user_area {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.link_goto_start {
	padding: 12px;
	border-radius: 1000px;
}
.link_goto_start:hover {
	background-color: var(--background-color);
}
.btn_translate {
	position: relative;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	border-radius: 100%;
	font-size: 0;
}
.btn_translate:hover {
	background-color: var(--background-color);
}
.btn_translate:before {
	position: absolute;
	left: 12px;
	top: 12px;
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -32px;
}
.user_menu_area {
	position: relative;
}
.btn_user {
	display: flex;
	align-items: center;
	padding: 8px 8px 8px 14px;
	border-radius: 1000px;
	border: 1px solid var(--border-color);
	font-size: 0;
}
.btn_user:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.btn_user .icon_menu {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -32px -48px;
}
.btn_user .icon_user {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -48px;
}
.user_menu_wrap {
	display: none;
	position: absolute;
	top: 60px;
	right: 0;
	width: 240px;
	border-radius: 12px;
	background: var(--white);
	z-index: 20;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
}
.user_menu_wrap.active {
	display: block;
}
.user_menu_dim {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
}
.user_menu_dim.active {
	display: block;
}
.user_menu_list {
	padding: 8px 0;
}
.user_menu_list_item {
	height: 40px;
}
.btn_loginSignUp {
	display: flex;
	align-items: center;
	padding: 0 16px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.link_user_menu {
	display: flex;
	align-items: center;
	padding: 0 16px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.btn_loginSignUp:hover {
	background: var(--background-color);
	font-weight: var(--fw-medium);
}
.link_user_menu:hover {
	background: var(--background-color);
	font-weight: var(--fw-medium);
}
/* header - search_area */
.search_wrap {
	position: relative;
	width: 848px;
	height: 65px;
	margin: 0 auto;
	border: 1px solid var(--border-color);
	border-radius: 32px;
	background: var(--white);
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
	overflow: hidden;
	transition: all 250ms cubic-bezier(0.2, 0, 0, 1);
	z-index: 2;
}
.search_content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.search_content.small {
	display: none;
}
.search_content.small .search_item {
	flex: none;
	padding: 0 16px;
	display: flex;
	align-items: center;
}
.search_content.small .btn_search {
	width: 32px;
	height: 32px;
	margin-right: 0;
}
.search_item_group {
	display: flex;
	align-items: center;
	flex: 1;
	height: 100%;
	box-sizing: border-box;
}
.search_item {
	position: relative;
	flex: 1;
	height: 100%;
	padding: 14px 24px;
	box-sizing: border-box;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.search_content.big .search_item:hover {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	/* border: 1px solid #fff; */
	background: #ebebeb;
	border-radius: 32px;
}
.search_content.big .search_item:hover::before {
	content: "";
	display: block;
	position: absolute;
	left: -1px;
	top: 0;
	height: 100%;
	border: 1px solid #fff;
}
.search_content.big .search_item:hover::after {
	content: "";
	display: block;
	right: -1px;
	top: 0;
	height: 100%;
	position: absolute;
	border: 1px solid #fff;
	z-index: 0;
}
.search_item_tit {
	font-size: var(--fs-caption);
	font-weight: var(--fw-medium);
	color: var(--main-color);
	margin-bottom: 2px;
}
.search_item_desc {
	padding: 0;
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.search_item_input {
	padding: 0;
	border: 0 none;
	background: none;
}
.search_item_input::placeholder {
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.line_vertical {
	width: 1px;
	height: 32px;
	margin: 0;
	border: 0 none;
	background: var(--border-color);
}
.btn_search {
	position: absolute;
	right: 9px;
	width: 48px;
	height: 48px;
	/* margin-right: 9px; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: var(--brand-color);
	font-size: 0;
}
.icon_search {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -48px -48px;
}

/* header - fixed */
.header.fixed {
	position: fixed;
	left: 0;
	top: 0;
	height: 80px;
	z-index: 10;
}
.header.fixed .search_area {
	position: absolute;
	left: 50%;
	transform: translate3d(-50%, 0px, 0px);
	top: 14px;
}
.header.fixed .search_wrap {
	width: fit-content;
	height: 48px;
	padding: 0 8px 0 7px;
}
.header.fixed .search_content.big {
	display: none;
}
.header.fixed .search_content.small {
	display: flex;
	padding-right: 32px;
}
/* ----------------------- main ----------------------- */
/* main - tab */
/* tab menu */
.main_tab_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	background: var(--white);
	box-sizing: border-box;
	transition: box-shadow 0.2s cubic-bezier(0.2, 0, 0, 1);
}
.main_tab_area.fixed {
	position: fixed;
	left: 0;
	top: 80px;
	width: 100%;
	z-index: 9;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
}
.main_tab_list_view {
	flex: 1;
	position: relative;
	overflow: hidden;
}
.main_tab_menu_list {
	display: flex;
	padding-top: 16px;
}
.tab_menu_item {
	margin: 16px 16px 0px 16px;
	opacity: 0.674;
	width: auto;
	height: auto;
	flex-shrink: 1;
}
.tab_menu_item:first-child {
	margin-left: 0;
}
.tab_menu_icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
}
.tab_menu_icon.hanok {
	background-position: 0px -106px;
}
.tab_menu_icon.pool {
	background-position: -24px -106px;
}
.tab_menu_icon.coast {
	background-position: -48px -106px;
}
.tab_menu_icon.creative {
	background-position: -72px -106px;
}
.tab_menu_icon.country {
	background-position: -96px -106px;
}
.tab_menu_tit {
	width: max-content;
	padding-bottom: 14px;
	margin-top: 8px;
	font-size: var(--fs-caption);
	font-weight: var(--fw-medium);
}
.tab_menu_item.selected {
	opacity: 1;
}
.tab_menu_item.selected .tab_menu_tit {
	border-bottom: solid 2px var(--main-color);
}
.main_tab_navi_btns {
}
.btn_main_tab_navi {
	position: absolute;
	top: 50%;
}
.btn_main_tab_navi.swiper-button-prev {
	left: 8px;
}
.btn_main_tab_navi.swiper-button-next {
	right: 8px;
}
/* button filter */
.btn_filter {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 7px 16px;
	border-radius: 12px;
	border: 1px solid var(--border-color);
	background: var(--white);
	box-sizing: content-box;
}
.btn_filter:hover {
	border: 1px solid var(--main-color);
	background: var(--background-color);
}
.icon_filter {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -64px -48px;
}
/* main - content */
.main_contents_area {
	padding: 0 40px;
	margin: 16px 0 48px 0;
}
.main_contents_list {
	display: grid;
	grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns, 1), minmax(0, 1fr)));
	--breakpoint-grid_columns: 5;
	gap: 40px 24px;
	/* min-height: 1400px;  */
}
/* main - content : main_content_tnumbnail_area */
.main_content_tnumbnail_area {
	position: relative;
	aspect-ratio: 20 / 19;
	border-radius: 12px;
	overflow: hidden;
}
.main_content_item_images {
	width: 100%;
	height: 100%;
}
.main_content_item_images img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.main_content_item_buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	z-index: 2;
	background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));
}
.main_content_item_buttons .top {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.main_content_item_navi {
	flex: 1;
}
.main_content_item_pagination.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	transform: none;
	margin: 0 auto;
}
.main_content_item_pagination.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	width: 6px;
	height: 6px;
	margin: 0 3px;
	background: var(--white);
	opacity: 1;
	transform: none;
	background: rgba(255, 255, 255, 0.6);
}
.main_content_item_pagination.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	background: var(--white);
}
.guest_favorite {
	display: flex;
	align-items: center;
	padding: 4px 10px;
	border-radius: 40px;
	background: var(--white);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
	line-height: 20px;
	font-weight: var(--fw-medium);
	color: var(--black);
	overflow: hidden;
}
.icon_trophy {
	width: 26px;
	height: 26px;
	margin: -4px 1px -4px -3px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -80px;
}
.btn_like {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	padding: 0;
	font-size: 0;
}
.icon_heart {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -62px -80px;
}
.icon_heart.active {
	background-position: -38px -80px;
}

/* main - content : main_content_thumbnail_info */
.main_content_thumbnail_info {
	position: relative;
	margin-top: 12px;
}
.main_content_thumbnail_info .item_element {
	margin-bottom: 2px;
	line-height: 1.1875rem;
	font-size: var(--fs-normal-em);
	color: var(--sub-color);
}
.main_content_thumbnail_info .item_tit {
	padding-right: 60px;
	font-weight: var(--fw-medium);
	color: var(--main-color);
}
.main_content_thumbnail_info .item_price {
	margin-top: 6px;
	font-weight: var(--fw-medium);
	color: var(--main-color);
}
.main_content_thumbnail_info .item_score {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	font-weight: var(--fw-medium);
	color: var(--main-color);
}
.main_content_thumbnail_info .item_score::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -26px -80px;
}
/* view_more */
.view_more {
	margin-top: 56px;
}
.desc_view_more {
	margin-bottom: 16px;
	text-align: center;
	font-size: var(--fs-semi-title);
	font-weight: var(--fw-medium);
}
.btn_view_more {
	display: block;
	margin: 0 auto;
	padding: 14px 24px;
	border-radius: 8px;
	background: var(--main-color);
	line-height: 1.25rem;
	font-size: 16px;
	font-weight: var(--fw-medium);
	color: var(--white);
}
/* ----------------------- footer ----------------------- */
.footer {
	background: var(--background-color);
}
/* footer - footer_top_area */
.footer_top_area {
	padding: 48px 80px;
}
.footer_top_tit {
	margin-bottom: 8px;
	font-size: var(--fs-title);
	font-weight: var(--fw-medium);
}
.footer_top_tab_content_wrap {
	padding-top: 32px;
}
.best_recommend_list {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 24px 8px;
}
.best_recommend_list_item a {
	display: block;
	line-height: 1.125rem;
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.best_recommend_list_item a:hover {
	color: var(--main-color);
}
.best_recommend_list_item .name {
	display: block;
	color: var(--main-color);
}
/* footer - footer_bottom_area */
.footer_bottom_area {
	padding: 0px 48px;
}
.footer_bottom_links {
	padding: 48px 0;
	display: flex;
}
.footer_bottom_links_column {
	flex: 1;
}
.footer_bottom_links_column > div {
	margin-bottom: 16px;
}
.footer_bottom_info_area {
	padding: 24px 0;
	border-top: 1px solid var(--border-color);
}
.footer_bottom_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_bottom_info_links {
	flex: 1;
	display: flex;
	padding: 4px 4px 4px 0;
}
.footer_bottom_info_links .dot {
	padding: 0 8px;
}
.footer_bottom_info_area .btn_translate:hover {
	background: #ebebeb;
}
.footer_bottom_info_area .btn_translate {
	display: flex;
	align-items: center;
	width: auto;
	height: auto;
	padding: 6px 8px 6px 8px;
	border-radius: 8px;
	font-size: var(--fs-normal);
	font-weight: var(--fw-medium);
}
.footer_bottom_info_area .btn_translate::before {
	position: static;
	margin-right: 10px;
}
.footer_sns_btns {
	display: flex;
	align-items: center;
}
.btn_sns_footer {
	width: 32px;
	height: 32px;
	margin-right: 4px;
	font-size: 0;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
}
.btn_sns_footer.facebook {
	background-position: 0px -130px;
}
.btn_sns_footer.x {
	background-position: -32px -130px;
}
.btn_sns_footer.instagram {
	background-position: -64px -130px;
}
.btn_sns_footer.naverblog {
	background-position: -96px -130px;
}
.btn_sns_footer.naverpost {
	background-position: -128px -130px;
}
.line_horizontal {
	border: 0 none;
	background: var(--border-color);
	width: 100%;
	height: 1px;
	margin: 8px 0;
}
.copyright_desc {
	margin-bottom: 8px;
	font-size: var(--fs-caption-sm);
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.btn_float_map {
	position: fixed;
	left: 50%;
	bottom: 40px;
	transform: translate(-50%, 0px);
	display: flex;
	align-items: center;
	padding: 14px 19px;
	border-radius: 48px;
	background: var(--main-color);
	font-weight: var(--fw-medium);
	color: var(--white);
	z-index: 10;
	transition: all 0.14s;
	opacity: 1;
}
.btn_float_map .icon_map {
	fill: currentColor;
	margin-left: 8px;
}
.btn_float_map.disappear {
	opacity: 0;
	pointer-events: none;
}
/* ----------------------- popup ----------------------- */
/* popup common */
.popup_wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 40px;
	background: rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	pointer-events: none;
	opacity: 0;
	transition: all 0.55s;
	z-index: 100;
	overflow: hidden;
}
.popup_wrap.active {
	pointer-events: inherit;
	opacity: 1;
}
.popup {
	position: relative;
	height: 100%;
	margin: 0 auto;
	border-radius: 32px;
	background: var(--white);
	box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.28);
	overflow: hidden;
	transform: translate(0px, calc(100% + 40px));
	transition: transform 0.45s ease-in-out;
}
.popup.active {
	transform: translate(0px, 0px);
}
.popup_header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
	padding: 0 16px;
	box-sizing: border-box;
}
.popup_tit {
	flex: 1;
	text-align: center;
	font-size: 16px;
	font-weight: var(--fw-medium);
}
.btn_close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	font-size: 0;
}
.btn_close:hover {
	background: var(--background-color);
}
.btn_close .icon_close {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -32px -162px;
}
.popup_main {
	width: 100%;
	height: calc(100% - 64px);
	box-sizing: border-box;
}
.popup_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	padding: 16px 24px;
	box-sizing: border-box;
	background: var(--white);
	box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.16);
}
/* popup : translate */
.popup.translate {
	max-width: 1040px;
}
.popup.translate .popup_main {
	padding: 10px 30px 90px 30px;
}
.popup.translate .popup_main_content {
	padding: 24px 0;
}
.popup.translate .popup_main_content_tit {
	margin-bottom: 24px;
	font-size: var(--fs-title);
	font-weight: var(--fw-medium);
}
.translate_toggle_box {
	display: flex;
	align-items: center;
	width: fit-content;
	padding: 16px;
	margin-top: 24px;
	border-radius: 8px;
	background: var(--background-color);
}
.translate_toggle_desc .tit {
	display: flex;
	align-items: center;
	font-weight: var(--fw-medium);
	font-size: 16px;
}
.translate_toggle_desc .tit::after {
	content: "";
	display: block;
	width: 19px;
	height: 19px;
	margin-left: 8px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -238px;
}
.translate_toggle_desc .desc {
	margin-top: 8px;
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.btn_translate_toggle {
	display: flex;
	align-items: center;
	padding: 0;
	margin-left: 24px;
	width: 48px;
	height: 32px;
	border-radius: 32px;
	border: 1px solid var(--main-color);
	background: var(--main-color);
	font-size: 0;
}
.btn_translate_toggle .toggle_circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	margin: -1px;
	border-radius: 32px;
	border: 2px solid var(--main-color);
	background: var(--white);
	box-sizing: border-box;
}
.btn_translate_toggle .toggle_circle::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -19px -238px;
}
.languages_list {
	margin: -8px;
	overflow: hidden;
}
.languages_list_item {
	float: left;
	width: 20%;
	padding: 8px;
	box-sizing: border-box;
}
.languages_list_item .inner_link {
	display: block;
	padding: 9px 12px;
	border-radius: 8px;
	line-height: 1.125rem;
	font-weight: var(--fw-normal);
}
.languages_list_item .inner_link:hover {
	background: var(--background-color);
}
.languages_list_item .inner_link.selected {
	border: 1px solid var(--main-color);
}
.languages_list_item .country {
	display: block;
	color: var(--sub-color);
}
/* popup : filter */
.popup.filter {
	max-width: 568px;
}
.popup.filter .popup_header {
	border-bottom: 1px solid var(--border-color);
}
.popup.filter .popup_main {
	padding-bottom: 80px;
	overflow-y: scroll;
}
.popup.filter .popup_main_content {
	position: relative;
	padding: 28px 24px;
}
.popup.filter .popup_main_content::after {
	content: "";
	position: absolute;
	left: 24px;
	bottom: 0;
	display: block;
	width: calc(100% - 48px);
	height: 1px;
	background: var(--border-color);
}
.popup.filter .popup_main_content_tit {
	margin-bottom: 22px;
	font-size: var(--fs-semi-title);
	font-weight: var(--fw-medium);
}
.placetype_select_list {
	display: flex;
	align-items: center;
	height: 54px;
	padding: 4px;
	border-radius: 16px;
	border: 1px solid var(--border-color);
	box-sizing: border-box;
}
.placetype_select_item {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	border-radius: 12px;
	cursor: pointer;
}
.placetype_select_item:hover {
	background: var(--background-color);
}
.placetype_select_item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 1px;
	height: 100%;
	background: var(--border-color);
}
.placetype_select_item.selected {
	border: 2px solid var(--main-color);
	background: var(--background-color);
	font-weight: var(--fw-medium);
}
.placetype_select_item:first-child::before,
.placetype_select_item:hover::before,
.placetype_select_item:hover + .placetype_select_item::before,
.placetype_select_item.selected::before,
.placetype_select_item.selected + .placetype_select_item::before {
	content: "";
	display: none;
}
.counter_list {
	display: grid;
	gap: 24px 0;
}
.counter_list_item {
	display: flex;
	align-items: center;
}
.counter_list_item_tit {
	flex: 1;
	font-weight: var(--fw-medium);
	font-size: 16px;
}
.counter_list_item_counter {
	display: flex;
	align-items: center;
}
.counter_list_item_counter .btn_count {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 32px;
	border: 1px solid #b0b0b0;
	background: var(--white);
	color: var(--sub-color);
	font-size: 0;
}
.btn_count_icon {
	width: 12px;
	height: 12px;
}
.btn_count_icon svg {
	fill: currentColor;
}
.counter_list_item_counter .btn_count:hover {
	border-color: var(--main-color);
	color: var(--main-color);
}
.counter_list_item_counter .btn_count.disabled {
	border-color: #ebebeb;
	color: #ebebeb;
}
.counter_list_item_counter .count {
	margin: 0 8px;
	font-size: 16px;
	font-weight: var(--fw-medium);
}
.tags_wrap_tit {
	margin: 8px 0 12px;
	font-size: 16px;
	font-weight: var(--fw-medium);
}
.tags {
	display: flex;
	flex-wrap: wrap;
}
.tag_item {
	display: flex;
	align-items: center;
	padding: 12px 18px;
	margin: 0 8px 12px 0;
	border-radius: 32px;
	border: 1px solid var(--border-color);
}
.tag_item:hover {
	border: 1px solid var(--main-color);
}
.tag_item.selected {
	border: 2px solid var(--main-color);
	background: var(--background-color);
	font-weight: var(--fw-medium);
}
.icon_tag {
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 8px;
	background-image: url("/images/sprite.png");
	background-repeat: no-repeat;
}
.icon_tag.wifi {
	background-position: 0px -214px;
}
.icon_tag.kitchen {
	background-position: -24px -214px;
}
.icon_tag.laundry {
	background-position: -48px -214px;
}
.icon_tag.dryer {
	background-position: -72px -214px;
}
.icon_tag.airconditioner {
	background-position: -96px -214px;
}
.icon_tag.warmer {
	background-position: -144px -214px;
}
.icon_tag.workplace {
	background-position: -120px -214px;
}
.icon_tag.tv {
	background-position: -168px -214px;
}
.icon_tag.hairdryer {
	background-position: -192px -214px;
}
.icon_tag.iron {
	background-position: -216px -214px;
}
.icon_tag.coast {
	background-position: -240px -214px;
}
.icon_tag.waterside {
	background-position: -264px -214px;
}
.icon_tag.firealarm {
	background-position: -288px -214px;
}
.icon_tag.co1alarm {
	background-position: -312px -214px;
}
.icon_tag.now {
	background-position: -336px -214px;
}
.icon_tag.selfcheckin {
	background-position: -360px -214px;
}
.icon_tag.pet {
	background-position: -384px -214px;
}
.btn_guests_popular {
	display: flex;
	padding: 16px;
	width: calc(50% - 6px);
	border-radius: 12px;
	border: 1px solid var(--border-color);
	background: var(--white);
	box-sizing: border-box;
}
.icon_guest_popular {
	flex: none;
	display: block;
	width: 32px;
	height: 32px;
	margin: 8px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -162px;
}
.guest_popular_info {
	display: block;
	margin-left: 16px;
}
.guest_popular_info .tit {
	display: block;
	text-align: left;
	font-weight: var(--fw-medium);
	font-size: 16px;
}
.guest_popular_info .desc {
	display: block;
	margin-top: 4px;
	text-align: left;
	color: var(--sub-color);
}
.popup_fold {
	padding: 0 24px;
}
.popup_fold_inner {
	padding: 12px 0;
	border-bottom: 1px solid var(--border-color);
}
.popup_fold_head {
	display: flex;
	align-items: center;
	height: 72px;
}
.popup_fold_head_tit {
	flex: 1;
	font-size: var(--fs-semi-title);
	font-weight: var(--fw-medium);
}
.btn_fold_toggle {
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -72px -162px;
	font-size: 0;
}
.popup_fold_body {
	display: none;
}
.popup_fold.fold .popup_fold_body {
	display: block;
}
.popup_fold.fold .btn_fold_toggle {
	transform: rotate(180deg);
}
.fold_checklist_wrap {
	margin-bottom: 24px;
}
.fold_checklist_tit {
	padding: 8px 0 20px;
	font-size: 16px;
	font-weight: var(--fw-medium);
}
.fold_check_item {
	margin-bottom: 24px;
}
.fold_checklist.column2 {
	display: flex;
}
.fold_checklist.column2 .fold_check_item {
	width: 50%;
}
.check_item_lable {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.check_item_input_wrap {
	position: relative;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin-right: 16px;
}
.check_item_input_wrap .input_checkbox {
	width: 1px;
	height: 1px;
	opacity: 0;
}
.check_item_input_wrap .check_item_custominput {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	border: 1px solid #8c8c8c;
	background: var(--white);
	box-sizing: border-box;
}
.check_item_input_wrap .input_checkbox:checked + .check_item_custominput {
	border: 1px solid var(--main-color);
	background: var(--main-color);
}
.icon_check {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -40px -32px;
}
.popup.filter .popup_footer {
	display: flex;
	justify-content: space-between;
}
.popup.filter .popup_footer .btn_all_cancel {
	padding: 10px;
	border-radius: 8px;
	line-height: 1.25rem;
	font-size: 16px;
	font-weight: var(--fw-medium);
}
.popup.filter .popup_footer .btn_all_cancel:hover {
	background: var(--background-color);
}
.popup.filter .popup_footer .btn_result {
	padding: 14px 24px;
	border-radius: 8px;
	background: var(--main-color);
	line-height: 1.25rem;
	font-size: 16px;
	font-weight: var(--fw-medium);
	color: var(--white);
}
.popup.filter .popup_footer .btn_result:hover {
	background: var(--black);
}
/* popup : loginSingUp */
.popup.loginSignUp {
	max-width: 568px;
	height: auto;
}
.popup.loginSignUp .popup_header {
	border-bottom: 1px solid var(--border-color);
}
.popup.loginSignUp .popup_main {
	padding: 24px;
	overflow-y: scroll;
}
.popup.loginSignUp .popup_main .popup_main_content_tit {
	margin: 8px 0 24px;
	font-size: var(--fs-title);
	font-weight: var(--fw-medium);
}
.input_telephone_wrap {
	border-radius: 8px;
	border: 1px solid #8c8c8c;
	overflow: hidden;
}
.input_telephone_wrap input, /* 임시 */
.input_telephone_wrap select {
	width: 100%;
	height: 56px;
	border: 0 none;
}
.contact_desc {
	margin-top: 8px;
	line-height: 1rem;
	font-size: var(--fs-caption);
	font-weight: var(--fw-medium);
}
.contact_desc .link_term_privacy {
	text-decoration: underline;
}
.btn_continue {
	width: 100%;
	padding: 14px 24px;
	margin: 16px 0 8px;
	border-radius: 8px;
	background: var(--brand-color);
	font-size: 16px;
	font-weight: var(--fw-medium);
	color: var(--white);
}
.line_or {
	display: flex;
	align-items: center;
	width: 100%;
	margin: 16px 0;
	font-size: var(--fs-caption);
	font-weight: var(--fw-medium);
	white-space: nowrap;
}
.line_or::before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin-right: 16px;
	background: var(--border-color);
}
.line_or::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	margin-left: 16px;
	background: var(--border-color);
}
.btn_sns {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 13px 23px;
	margin-bottom: 16px;
	border-radius: 8px;
	border: 1px solid var(--main-color);
	background: var(--white);
	font-size: var(--fs-normal);
	font-weight: var(--fw-medium);
}
.btn_sns .icon_sns {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
}
.btn_sns .icon_sns.naver {
	background-position: 0px -194px;
}
.btn_sns .icon_sns.google {
	background-position: -20px -194px;
}
.btn_sns .icon_sns.apple {
	background-position: -40px -194px;
}
.btn_sns .icon_sns.email {
	background-position: -60px -194px;
}
.btn_sns .icon_sns.facebook {
	background-position: -80px -194px;
}
.btn_sns_desc {
	flex: 1;
	text-align: center;
}
