@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");

/* common */
:root {
	/* color */
	--red: #ff385c;
	--black: #000;
	--white: #fff;
	/* ui-color */
	--brand-color: var(--red);
	--main-color: #222;
	--sub-color: #6a6a6a;
	--background-color: #f7f7f7;
	--border-color: #dddddd;
	/* font */
	--font-family: "Noto Sans KR", sans-serif;
	--fs-title: 22px;
	--fs-semi-title: 18px;
	--fs-normal-em: 15px;
	--fs-normal: 14px;
	--fs-caption: 12px;
	--fs-caption-sm: 10px;
	--fw-400: 400;
	--fw-500: 500;
	--fw-normal: var(--fw-400);
	--fw-medium: var(--fw-500);
	/* line-height */
	--lh-normal: 1.1875rem;
}

body {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-style: normal;
	font-size: var(--fs-normal);
	font-weight: var(--fw-normal);
	color: var(--main-color);
}
a {
	font-weight: var(--fw-medium);
	color: var(--main-color);
	text-decoration: none;
}
button {
	font-family: var(--font-family);
	border: 0 none;
	background: none;
	cursor: pointer;
}

/* ----------------------- header ----------------------- */
/* header - header_top */
header {
	position: relative;
	height: calc(80px + 88px);
	box-shadow: 0 1px 0 rgb(0 0 0/8%);
}
.header_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 48px;
}
.logo_link {
	color: var(--brand-color);
}
.user_area {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.link_goto_start {
	padding: 12px;
	border-radius: 1000px;
}
.link_goto_start:hover {
	background-color: var(--background-color);
}
.btn_translate {
	position: relative;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	border-radius: 100%;
	font-size: 0;
}
.btn_translate:hover {
	background-color: var(--background-color);
}
.btn_translate:before {
	position: absolute;
	left: 12px;
	top: 12px;
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -32px;
}
.user_menu_wrap {
	display: none;
}
.btn_user {
	display: flex;
	align-items: center;
	padding: 8px 8px 8px 14px;
	border-radius: 1000px;
	border: 1px solid var(--border-color);
	font-size: 0;
}
.btn_user:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.btn_user .icon_menu {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -32px -48px;
}
.btn_user .icon_user {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -48px;
}
/* header - search_area */
.search_area {
}
.search_wrap {
	/* position: absolute;
	width: 100%;
	top: 80px;
	left: 0; */
	width: 848px;
	height: 65px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: 32px;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.search_item_group {
	display: flex;
	align-items: center;
	flex: 1;
}
.search_item {
	padding: 14px 24px;
	flex: 1;
}
.search_item_tit {
	font-size: var(--fs-caption);
	font-weight: var(--fw-medium);
	color: var(--main-color);
	margin-bottom: 2px;
}
.search_item_desc {
	font-weight: var(--fw-medium);
	color: var(--sub-color);
}
.line_vertical {
	width: 1px;
	height: 32px;
	margin: 0;
	border: 0 none;
	background: var(--border-color);
}
.btn_search {
	width: 48px;
	height: 48px;
	margin-right: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: var(--brand-color);
	font-size: 0;
}
.icon_search {
	display: block;
	width: 16px;
	height: 16px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -48px -48px;
}
/* header - search_area small */
.search_area.small {
	transition: transform 250ms var(cubic-bezier(0.2, 0, 0, 1)), opacity 250ms var(cubic-bezier(0.2, 0, 0, 1)), visibility 0ms 125ms;
}
.search_wrap.small {
	display: none;
	width: fit-content;
	height: 48px;
	padding: 0 8px 0 7px;
}
.search_area.small .search_wrap.small {
	display: block;
}
.search_wrap.small .search_item {
	flex: none;
	padding: 0 16px;
}
.search_wrap.small .btn_search {
	width: 32px;
	height: 32px;
	margin-right: 0;
}

/* ----------------------- main ----------------------- */
/* main - tab */
/* tab menu */
.main_tab_area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}
.main_tab_menu_list {
	display: flex;
	padding-top: 16px;
}
.tab_menu_item {
	margin: 16px 16px 0px 16px;
	opacity: 0.674;
}
.tab_menu_item:first-child {
	margin-left: 0;
}
.tab_menu_icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
}
.tab_menu_icon.hanok {
	background-position: 0px -106px;
}
.tab_menu_icon.pool {
	background-position: -24px -106px;
}
.tab_menu_icon.coast {
	background-position: -48px -106px;
}
.tab_menu_icon.creative {
	background-position: -72px -106px;
}
.tab_menu_icon.country {
	background-position: -96px -106px;
}
.tab_menu_tit {
	padding-bottom: 14px;
	margin-top: 8px;
	font-size: var(--fs-caption);
	font-weight: var(--fw-medium);
}
.tab_menu_item.selected {
	opacity: 1;
}
.tab_menu_item.selected .tab_menu_tit {
	border-bottom: solid 2px var(--main-color);
}
/* button filter */
.btn_filter {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 7px 16px;
	border-radius: 12px;
	border: 1px solid var(--border-color);
	background: var(--white);
	box-sizing: content-box;
}
.btn_filter:hover {
	border: 1px solid var(--main-color);
	background: var(--background-color);
}
.icon_filter {
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -64px -48px;
}
/* main - content */
.main_contents_area {
	padding: 0 40px;
	margin: 16px 0 48px 0;
}
.main_contents_list {
	display: grid;
	grid-template-columns: var(--breakpoint-grid_column-template, repeat(var(--breakpoint-grid_columns, 1), minmax(0, 1fr)));
	--breakpoint-grid_columns: 5;
	gap: 40px 24px;
}
/* main - content : main_content_tnumbnail_area */
.main_content_tnumbnail_area {
	position: relative;
	aspect-ratio: 20 / 19;
	border-radius: 12px;
	overflow: hidden;
}
.main_content_item_images {
	width: 100%;
	height: 100%;
}
.main_content_item_images img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.main_content_item_buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.main_content_item_buttons .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.guest_favorite {
	display: flex;
	align-items: center;
	padding: 4px 10px;
	border-radius: 40px;
	background: var(--white);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
	line-height: 20px;
	font-weight: var(--fw-medium);
	color: var(--black);
	overflow: hidden;
}
.icon_trophy {
	width: 26px;
	height: 26px;
	margin: -4px 1px -4px -3px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: 0px -80px;
}
.btn_like {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	padding: 0;
	font-size: 0;
}
.icon_heart {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -62px -80px;
}
/* main - content : main_content_thumbnail_info */
.main_content_thumbnail_info {
	position: relative;
	margin-top: 12px;
}
.main_content_thumbnail_info .item_element {
	margin-bottom: 2px;
	line-height: 1.1875rem;
	font-size: var(--fs-normal-em);
	color: var(--sub-color);
}
.main_content_thumbnail_info .item_tit {
	padding-right: 60px;
	font-weight: var(--fw-medium);
	color: var(--main-color);
}
.main_content_thumbnail_info .item_price {
	margin-top: 6px;
	font-weight: var(--fw-medium);
	color: var(--main-color);
}
.main_content_thumbnail_info .item_score {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	font-weight: var(--fw-medium);
	color: var(--main-color);
}
.main_content_thumbnail_info .item_score::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	background-image: url("./../images/sprite.png");
	background-repeat: no-repeat;
	background-position: -26px -80px;
}
/* view_more */
.view_more {
	margin-top: 56px;
}
.desc_view_more {
	margin-bottom: 16px;
	text-align: center;
	font-size: var(--fs-semi-title);
	font-weight: var(--fw-medium);
}
.btn_view_more {
	display: block;
	margin: 0 auto;
	padding: 14px 24px;
	border-radius: 8px;
	background: var(--main-color);
	line-height: 1.25rem;
	font-size: 16px;
	font-weight: var(--fw-medium);
	color: var(--white);
}
